* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url('img/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.website-title{
  /* margin-bottom: 10%; */
  display: flex;
  /* margin-top: 5%; */
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  background-color: #54855e;
  align-items: center;
  justify-content: center;
  box-shadow: inset;
  overflow: scroll;
}

.center > div {
  width: calc(100% / 3);
}

@media (max-width: 768px) {
  .center > div {
      width: 100%;
      text-align: center;
  }
}

.souffle{
  display: flex;
  width: 10%;
  height: 10%;
}


.page-title {
  margin-top: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30PX;
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}


.Cart{
  display: flex;
  height: auto;
  margin-top: 10%;
}

.insideCart{
  flex-grow: 1;
  width: 20%;
  height: auto;
  font-size: 20px
}
.textControl{
  display: flex;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
  height: max-content;
  text-align: center;
}

.AddToCart{
  display: flex;
  justify-content: center;
  width: max-content;
  font-size: 20px;
  padding: 10px;
}

.center-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.header-item{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color:white;
}
.header-image{
  width: 35%;
  margin-right: 2%;
  
}
.header-title{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  display: flex;
  text-align: end;
  margin-right: 2rem;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  cursor: pointer;
}

@media only screen and (max-width : 800px){
  .cart-icon{
    margin-right:0rem;
  }
  
  }

.cart-icon img {
  width: 4rem;
  height: 4rem;
  color: #2f80ed;
}

.cart-icon p {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -0.2rem;
  top: 0.5rem;
  border-radius: 50%;
  background: #54855e;
  color: #fff;
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.title-Bar{
  margin-bottom: 10%;
  display: flex;
  margin-top: 5%;
  justify-content:space-between;
}


.header-description{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:start;
  font-size: 20px;
}
.header-details{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 5%;
}